<div class="row">
  <div class="col s8 offset-s2">
    <h3>Sign up for Event Finder</h3>
  </div>
</div>

<div class="row">
  <div class="col s8 offset-s2">
    <div class="card white">
      <div class="card-content black-text">
        <%= form_for(@user) do |f| %>
          <%= f.label :name %><br>
          <%= f.text_field :name %><br>
          <%= f.label :username %><br>
          <%= f.text_field :username %><br>
          <%= f.label :zip %><br>
          <%= f.number_field :zip %><br>
          <label>Borough</label>
            <select name="user[borough]" class="browser-default">
              <option value="" disabled selected>Choose your borough</option>
              <option value="Mn">Manhattan</option>
              <option value="Bk">Brooklyn</option>
              <option value="Bx">Bronx</option>
              <option value="Qn">Queens</option>
              <option value="SI">Staten Island</option>
            </select>
          <%= f.label :password %><br>
          <%= f.password_field :password %><br>
          <%= f.submit "Sign Up" %>
        <% end %>
      </div>
    </div>
  </div>
</div>