<br>
<div class="row">
  <div class="col s8 offset-s2">
    <h4>Upcoming Events in your borough:</h4>
  </div>
</div>

<div class="row">
  <div class="col s8 offset-s2">
    <div class="collection">
      <% @nearby_events.each do |event| %>
        <a href="<%=event_path(event)%>" class="collection-item"><%=event.name%></a>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= week_calendar events: @nearby_events do |date, nearby_events| %>
      <%= date %>
      <% nearby_events.each do |nearby_event| %>
    	  <div>
    	    <%= link_to nearby_event.name, event_path(nearby_event) %>
    	  </div><br>
      <% end %>
    <% end %>
    <br>
  </div>
</div>