<h3>Looking for something to do?</h3>
<div class="row">
        <div class="col s8 offset-s2">
          <div class="card white z-depth-4">
            <div class="card-content black-text">
              <span class="card-title">Search for Events</span>
							<%= form_tag events_path method:'post' do %>
							<div class=".input-field">
							<h6>Keywords</h6>
							<%= text_field_tag "keywords" %><br>
							<h6>Borough</h6>
							  <select name="boroughs" class="browser-default">
							    <option value="" disabled selected>Choose your borough</option>
							    <option value="Mn">Manhattan</option>
							    <option value="Bk">Brooklyn</option>
							    <option value="Bx">Bronx</option>
							    <option value="Qn">Queens</option>
							    <option value="SI">Staten Island</option>
							  </select>
							<h6>Zip</h6>
							<%= number_field_tag "zip" %><br>
							<%= submit_tag "Search" %>
							</div>
							<% end %>
          </div>
        </div>
      </div>

<div class="row">
 <div class="col s12">
  <h5>Or, browse events <%= link_to "happening in your borough!", nearby_events_path %></h5>
</div>
</div>
