<h1>Learn more about <%= @event.name %></h1>
<ul>
  <li>
    <%= @event.description %>
  </li>
  <li>
    <%= "#{@event.start_time.strftime("%A, %B %d %I:%M %p")}" %>
    <% if @event.end_time.present? %>
    <%= "- #{@event.end_time.strftime("%A, %B %d %I:%M %p")}" %>
    <% end %>
  </li>
  <% if @event.city.present? %>
  <li>
    <%= @event.city %>
  </li>
  <% else %>
  <li>
    <%= borough_names(@event.borough) %>
  </li>
  <% end %>
  <% if @event.location.present? %>
  <li>
    <%= @event.location %>
  </li>
  <% end %>
  <li>
    <%= @event.address %>
  </li>
  <% if @event.website.present? %>
  <li>
    <%= link_to "Learn more about this event", @event.website %>
  </li>
  <% end %>
</ul>

<% if current_user.events.include?(@event)%>
<p>You are already attending this event! Have fun!</p>
<% else %>
<%= link_to "Create Appointment", "/appointments/#{@event.id}", method:'post'%>
<% end %>
