<h1>Learn more about <%= @event.name %></h1>
<ul>
  <% if @event.description.present? %>
  <li>
    <%= @event.description %>
  </li>
  <% end %>
  <% if @event.start_time.present? %>
  <li>
    <%= readable_time(@event.start_time) %>
    <% if @event.end_time.present? %>
    <%= "- #{readable_time(@event.end_time)}" %>
    <% end %>
  </li>
  <% end %>
  <% if @event.city.present? %>
  <li>
    <%= @event.city %>
  </li>
  <% elsif @event.borough.present? %>
  <li>
    <%= borough_names(@event.borough) %>
  </li>
  <% end %>
  <% if @event.location.present? %>
  <li>
    <%= @event.location %>
  </li>
  <% end %>
  <% if @event.address.present? %>
  <li>
    <%= @event.address %>
  </li>
  <% end %>
  <% if @event.website.present? %>
  <li>
    <%= link_to "Learn more about this event", @event.website %>
  </li>
  <% end %>
</ul>

<% if current_user.events.include?(@event)%>
<p>You are already attending this event! Have fun!</p>
<% else %>
<%= link_to "Create Appointment", "/appointments/#{@event.id}", method:'post'%>
<% end %>


