<h3><%= @event.name %></h3>
<div class="divider"></div>

<% if @event.description.present? %>
  <h5><%= @event.description %></h5>
<% end %>

<% if @event.start_time.present? %>
  <p><%= readable_time(@event.start_time) %>
  <% if @event.end_time.present? %>
  <%= "- #{readable_time(@event.end_time)}" %>
  <% end %></p>
<% end %>

<% if @event.location.present? %>
  <p><%= @event.location %></p>
<% end %>

<% if @event.address.present? %> 
  <p><%= @event.address %>
<% end %>
<% if @event.city.present? %>
  <br><%= @event.city %>
<% elsif @event.borough.present? %>
  <br><%= borough_names(@event.borough) %>
<% end %></p>

<% if @event.website.present? %>
  <p><%= link_to "Learn more about this event", @event.website, target: "_blank" %></p>
<% end %>

<% if current_user.events.include?(@event)%>
<p>You are already attending this event! Have fun!</p>
<% else %>
<%= link_to "Create Appointment", "/appointments/#{@event.id}", method:'post'%>
<% end %><br><br>


