<!DOCTYPE html>
<html>
  <head>
    <title>EventFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

               <!--  nav here -->
                 <% unless logged_in? %>
               <li>
                 <a href="/users/new">Sign Up</a></li>
               </li>
               <li>
                 <a href="/login">Sign In</a></li>
               </li>
                 <% end %>
               <% if logged_in? %>
               <li>
                 <%= link_to "Log Out", logout_path, method: 'delete' %>
               </li>
               <li>
                 <%= link_to "#{current_user.name}", user_path(current_user.id) %>
               </li>
               <li>
                 <%= link_to "Nearby Events", nearby_events_path %>
               </li>
               <li>
                 <%= link_to "Search for Events", search_path %>
               </li>
                 <% end %>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>

    <%= yield %>
  </body>
</html>
